* {
  margin: 0;
}

#content {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #0b090a;
  color: #d3d3d3;
}

.hours-container {
  height: 40%;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.disable {
  pointer-events: none;
}

button {
  width: 90px;
  height: 40px;
  border-radius: 15px;
  background-color: #660708;
  border: 2px solid #e5383b;
  cursor: pointer;
  color: #d3d3d3;
}

.nav-btns-container {
  margin-top: 20px;
  width: 25%;
  height: 5%;
  display: flex;
  justify-content: space-between;
}

.page-content-container {
  width: 60%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.about-container {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about-container p {
  text-align: center;
}
.about-title {
  margin-bottom: 10px;
}
.hours-title {
  margin-bottom: 10px;
}
.hidden {
  display: none;
}
.menu-page{
  height: 90%;
}
.menu-drinks-container {
  height: 80%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 50px repeat(2, 1fr);
  justify-items: center;
}
.menu-container-title {
  grid-column: 1 / span 2;
}
.drink-container{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
}

.content-container {
  height: 70%;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.phone-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 450px;
  height: 150px;
  background-color: #660708;
  border-top-right-radius: 90px;
  border-bottom-right-radius: 90px;
}

.address-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 450px;
  height: 150px;
  background-color: #660708;
  border-top-right-radius: 90px;
  border-bottom-right-radius: 90px;
}

.phone-container h2 {
  margin-bottom: 15px;
}
.address-container h2 {
  margin-bottom: 15px;
}
/* 
.navbar-list {
  width: 30%;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.navbar-list li {
  width: 80px;
  text-align: center;
  padding: 4px;
  border: 2px solid red;
  cursor: pointer;
  background-color: crimson;
}

.homepage-container {
  align-self: center;
  display: flex;
  justify-content: center;
  width: 50%;
  height: 85%;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  background-color: blueviolet;
}

.heading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  background-color: blanchedalmond;
  width: 60%;
  height: 10%;
} */
