* {
  margin: 0;
}

#content {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: bisque;
}

/* .navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
  height: 10%;
}
.navbar-list {
  width: 30%;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.navbar-list li {
  width: 80px;
  text-align: center;
  padding: 4px;
  border: 2px solid red;
  cursor: pointer;
  background-color: crimson;
}

.homepage-container {
  align-self: center;
  display: flex;
  justify-content: center;
  width: 50%;
  height: 85%;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  background-color: blueviolet;
}

.heading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  background-color: blanchedalmond;
  width: 60%;
  height: 10%;
} */
