* {
  margin: 0;
}

#content {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #0b090a;
  color: #d3d3d3;
}

.disable {
  pointer-events: none;
}

button {
  width: 90px;
  height: 40px;
  border-radius: 15px;
  background-color: #660708;
  border: 2px solid #e5383b;
  cursor: pointer;
  color: #d3d3d3;
}

.nav-btns-container {
  margin-top: 20px;
  width: 25%;
  height: 5%;
  display: flex;
  justify-content: space-between;
}

.page-content-container {
  width: 60%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.about-container {
  padding: 20px;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #660708;
  border-top-right-radius: 90px;
  border-top-left-radius: 90px;

}

.hours-container {
  padding: 20px;
  height: 40%;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #660708;
  border-bottom-left-radius: 90px;
  border-bottom-right-radius: 90px;
}

.about-container p {
  text-align: center;
}
.about-title {
  margin-bottom: 10px;
}
.hours-title {
  margin-bottom: 10px;
}
.hidden {
  display: none;
}
.menu-page {
  height: 90%;
}
.menu-drinks-container {
  height: 80%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 50px repeat(2, 1fr);
  justify-items: center;
  gap: 15px;
}
.menu-container-title {
  grid-column: 1 / span 2;
}
.drink-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.content-container {
  height: 70%;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}
.phone-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 450px;
  height: 150px;
  background-color: #660708;
  border-top-right-radius: 90px;
  border-bottom-right-radius: 90px;
}

.address-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 450px;
  height: 150px;
  background-color: #660708;
  border-top-right-radius: 90px;
  border-bottom-right-radius: 90px;
}

.phone-container h2 {
  margin-bottom: 15px;
}
.address-container h2 {
  margin-bottom: 15px;
}

img {
  width: 230px;
  height: 255px;
}
